@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
margin : 0px;
background-color: rgb(252, 237, 220);
}
header {
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  height: 80px;
  justify-content: space-between;
  border-bottom: 1px solid rgb(173, 172, 172);
  box-shadow: 5px 3px 10px rgba(173, 172, 172 ,1.2);
  background-color: rgb(238, 236, 236);
}

.logo {
  width: 60px;
  border: none;
  border-radius: 30px;
  margin-left: 15px;
  display: flex ;
  position: fixed;
  left: 12px;
}

.p-logo {
  width: 120px;
  display: flex;
  display: inline-block;
  margin-left: 12px;
  font-size: 2em ;
  font-family: 500;
  position: fixed;
  left: 100px;
}
.left-section {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  min-width: 300px;
  max-width: 400px;

}
.right-section {
  display: flex;
  flex: 1;
  align-items:center;
  justify-content: right;
  padding-right: 50px;

}
.gray {
  padding: 15px 30px 15px 30px;
  margin-right: 20px;
  background-color: rgb(124, 122, 121);
  color: black;
  font-size: 1.2em;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  border-radius: 30px;
  box-shadow: 3px 3px 10px rgba(173, 172, 172 ,1.2);
  transition: 1s;
  
}
span {
  font-family: arial;
  font-size: 1.2em;
  margin-right: 40px;
  cursor: pointer;
  color: black;
}
span:hover {
  color: orangered;
  font-size: 1.3em;
}
button:hover {
  cursor: pointer;
  background-color: rgb(10, 10, 10);
  color: white;
  transform: scale(0.9);

}
button:active {
  background-color: rgb(218, 209, 208);
  color: rgb(71, 67, 67);
  transition: 0.4s;
}
  
.contacts {
  padding: 15px 40px 15px 40px;
  margin-left: 50px;
  right: 80px;
  background-color: rgb(231, 102, 15);
  color: black;
  font-size: 1.2em;
  border: none;
  border-radius: 30px;
  box-shadow: 3px 3px 10px rgba(173, 172, 172 ,1.2);
  text-align: center;
}
.contacts:hover {
  background-color: rgb(248, 111, 111);
  color: black;
}
.contacts:active {
  background-color: rgb(87, 85, 85);
  color:rgb(255, 255, 255);
}

.accueil {
  background-image: url('image1/EMI.jpg');
  background-size: cover;
  background-position: center;
  opacity: 1;
}
.accueil1 {
  background-image: url('image1/event1.jpg');
  background-size: cover;
  background-position: center;
  opacity: 0.7;
}


.emi {
  height: 100px;
  background-color: white;
  margin-top: 30px;
  margin-right: 20px;
  border: none;
  border-radius: 10px;
  opacity: 0.7;

}
.top-head {
  margin-top: 80px;
  display: grid;
  grid-template-columns: 1fr 200px;
}


.midle-head {
  font-family: crossorigin ;
  font-size: 1.5em;
  display: flex;
  flex: 1;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
  padding-left: 80px;
  color: white;
  transition: 0.8s;
  
}
.midle-head:hover {
  font-size: 2em ;
}


.text-midle-head {
  font-size: 1.5em;
  color: black;
  font-family: crossorigin ;
  display: flex;
  flex: 1;
  justify-content: center;
  text-align: center;
  margin-left: 150px;
  
}

.buttom-head {
  display: flex;
  flex: 1;
  justify-content: center;
  margin-top: 30px;

}
.buttom-head button {
  background-color: rgb(25, 21, 214);
  color: white;
  padding: 15px 60px 15px 60px;
  border-radius: 40px;
  font-family:  arial;
  font-size: 1.2em;
  border: none;
  cursor: pionter;
  transition: 0.5s;
  margin-bottom: 40px;
  margin-top: 40px;
  box-shadow: 3px 3px 10px rgba(25,25,25,1.2);
  opacity: 0.9;
}

.buttom-head button:hover {
  background-color: rgb(23, 85, 155);
  transform: scale(1.2);
}
.buttom-head button:active {
  background-color: white;
  color: black;
}


.top-objectifs {
  margin-top: 50px;
}

.div-objectif {
  display: flex;
  flex: 1;
  justify-content: center;
  font-size: 3em;
  font-family: poetson one;
  color: rgb(241, 78, 13);
  transition: 1s;
}
.text-div-objectif:hover {
  text-decoration: underline;
  transform: scale(1.3);
}


.div-text-objectif {
 display: flex;
 flex: 1;
 padding-left: 150px;
 margin-right: 150px;
 font-size: 1.1em;
 font-family: arial;
 margin-top: 0px;
}
.objectifs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-left: 50px;
  margin-right: 20px;
  margin-bottom: 50px;
  margin-top: 50px;
  row-gap: 40px;
}


.objectifs-colums {
  display: grid;
  grid-template-columns: 1fr;
  margin-right: 20px;
  margin-left: 20px;
  height: fit-content;

}



.obj-img {
  width: 100%;
  border: none;
  border-radius: 10px;
  box-shadow: 6px 6px 10px rgba(0,0,0, 1.6) ;
  margin-top: 12px;
  margin-bottom: 10px;
  object-fit: contain;
}
.obj-img:hover {
  transform: scale(1.2);

}
strong {
  color: red;
  text-decoration: underline;
}

.obj-text {
  font-size: 1.1em;
  font-family: arial;
  margin-top: 10px;

}

.img-bottom {
  width: 150px;
  margin-left: 100px;
  margin-top: 50px;
  padding: 0;
  border: none;
  border-radius: 75px;
  display: flex;
  flex: 1;
  box-shadow: 5px 5px 5px rgba(60,60,60,1.6)

}

.div-icons {
  display: flex;
  flex: 1;
  margin-left: 95px;
  margin-bottom: 80px;
  margin-top: 30px;
}

.icon {
  width: 50px;
  height: 50px;
  display: flex;
  flex: 1;
  text-align: center;
  justify-content: center;
  font-size: 2.5rem;
  padding-left: 5px;
  padding-top: 5px;
  color: rgb(226, 80, 26);
  border: none;
  transition: 0.6s;
}

.icon:hover {
  transform: scale(0.9);
  color: black;
}
.bottom-section {
  background-color: rgb(104, 103, 103);
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  row-gap: 40px;
  transform: scale(1.05);
  box-shadow: 10px 10px 15px rgba(25,25,25,1.2);
}

.bottom-left-section {
  display: grid;
  grid-template-columns: 1r;
}

.bottom-right-section {
  margin-top: 20px;
  right: 50px;

}
.bottom-contact {
  display: flex;
  flex: 1;
  margin-bottom: 30px;
  font-size: 1.6em;
  font-family: roboto ;
  padding-left: 40px;

}
.contact-icon {
  color: black;
  font-size: 1em;
  display: inline-block;
  padding-right: 5px;
}
.contact-text {
  display: flex;
  flex: 1;
  display: inline-block;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 10px;
  vertical-align: text-top;
}

.contact-text:hover {
  font-size: 1.3em;
}
.div2,
.div3,
.div4 
{
  margin-top: 20px;
  display: flex;
  flex: 1; 
  text-align: center; 
  margin-left: 40px;

}


@media screen and (max-width: 900px) {
  .objectifs {
    grid-template-columns: repeat(3, 1fr);
  }
  .bottom-section {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 600px) {
  .objectifs {
    grid-template-columns: repeat(2, 1fr);
  }
  .bottom-section {
    grid-template-columns: repeat(2, 1fr);
  }
}